*{
  font-family: Raleway;

}
hr{
  border-top:3px solid #FFC300;
}
body{
  background-color:#263238;

}

.first{
  background-color: #546E7A;
}

.feat
{
  background-color: #FFC300;
}
.text--line, .text--line2{
  font-size: 150px;
}

svg {

  width: 100%;
  height: 400px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 5s infinite linear;
          animation: stroke-offset 5s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #ffffff;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #ffffff;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #ffffff;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #ffffff;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #ffffff;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 40%;
    stroke-dasharray: 0 87.5%;
  }
}
